.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

#kutu{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}
